:root {
    --vs-background: #1E1E1E;
    --vs-blue: #569CD6;
    --vs-orange: #ce9178;
    --vs-red: #f44747;
}

body {
    background-color: var(--vs-background);
    color: white;
    font-family: "Oxanium", sans-serif;
    font-size: 1rem;
}

a {
    color: #7eaaff;
}

.top {
    position: relative;
    min-width: 100vw;
    min-height: 20vh;
    max-width: 100vw;
    max-height: 20vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: .5rem;
    box-sizing: border-box;
    text-align: center;

    gap: .5rem
}

.top h1 {
    font-size: 2rem;
}

.top h2 {
    font-size: 1.5rem;
}

.middle {
    overflow: hidden;
    position: relative;
    min-width: 100vw;
    min-height: 70vh;
    max-width: 100vw;
    max-height: 70vh;
}

.bottom {
    position: relative;
    min-width: 100vw;
    min-height: 10vh;
    max-width: 100vw;
    max-height: 10vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: .25rem;
    box-sizing: border-box;
}

.line-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%) rotate(135deg);
}

.line {
    width: 200%;
    min-width: 200%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    transition: height 0.25s ease-in;
    overflow: hidden;
    position: relative;
    color: white;
    text-decoration: none;
}

.line:hover {
    height: 100px;
}

.line > span {
    transform: rotate(180deg);
    z-index: 1;
}

.line > i {
    position: absolute;
    transform: rotate(225deg);
    opacity: 30%;
    font-size: 5rem;
    z-index: 0;
}

.line-blue {
    background-color: var(--vs-blue);
}

.line-orange {
    background-color: var(--vs-orange);
}

.line-red {
    background-color: var(--vs-red);
}

.contact-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.contact-icon {
    color: white;
    margin: .5rem;
    font-size: 1.3rem;
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
    text-decoration: none;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item {
    position: relative;
    color: white;
    text-decoration: none;
    padding: 0 .5rem;
    box-sizing: border-box;
    overflow: hidden;
}

.nav-item:first-child {
    border-bottom: 5px solid var(--vs-blue);
}

.nav-item:nth-child(2) {
    border-bottom: 5px solid var(--vs-orange);
}

.nav-item:last-child {
    border-bottom: 5px solid var(--vs-red);
}

.nav-item::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    transition: top 0.15s ease-in;;
}

.nav-item:hover::after {
    top: 0;
}

.nav-item:first-child::after {
    background-color: var(--vs-blue);
}

.nav-item:nth-child(2)::after {
    background-color: var(--vs-orange);
}

.nav-item:last-child::after {
    background-color: var(--vs-red);
}

.page-body {
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 1200px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .3rem;

    padding: 1rem;
    background-color: rgba(0, 0, 0, .2);
    margin-top: 2rem;
}

.color-blue {
    color: var(--vs-blue);
}

.color-orange {
    color: var(--vs-orange);
}

.color-red {
    color: var(--vs-red);
}

@media (max-width: 768px) {
    .page-body {
        padding: 0 1rem;
    }
}

@media (max-width: 480px) {
    .page-body {
        padding: 0 0.5rem;
    }
}

.sitemap {
    display: flex;
    gap: 1rem;
}

.sitemap > a {
    color: white;
}