#hero {
    background-color: beige;
    padding: 6rem 1.5rem 6rem 1.5rem;
}


/* --- section classes start --- */
.info-section {
    padding-top: 5rem;
    padding-bottom: 3rem;
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info-section div.container{
    position: relative;
    height: 100%;
}

.info-section-gray {
    background-color: lightgray;
}

a.next-section-arrow {
    font-size: 7rem;
    position: absolute;
    right: 0rem;
    bottom: 0rem;
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    display: flex;
    align-items: center;
    text-align: center;
    -webkit-transition: background-color 150ms linear;
    -ms-transition: background-color 150ms linear;
    transition: background-color 150ms linear;
}

a.next-section-arrow-light {
    color: lightgray;
}

a.next-section-arrow-dark {
    color: #343a40;
}

a.next-section-arrow:hover {
    background-color: rgba(0, 0, 0, .2);
}
/* --- section classes end --- */


/* --- about section classes start --- */
#about {
    background-image: url("../media/images/backgrounds/about.jpg");
}

#about p { 
    font-size: 1.2rem;
    height: 70%;
    overflow: auto;
    background-color: rgb(245, 245, 220, .8);
    border-radius: 3rem;
    padding: 1.5rem;
}

#about p a {
    color: black;
}
/* --- about section classes end --- */


/* --- education section classes start --- */
.edu-row-container { 
    height: 70%;
}

.edu-row {
    height: 50%;
}

@media only screen and (max-width: 767px), (max-height: 839px) { 
    .edu-row-container {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .edu-row {
        height: 100%;
    }
}

.edu-element {
    height: 100%;
    background-color: white;
    border-radius: 3rem;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-col {
    border-right: 1px solid black;
}

.logo-img {
    width: 100%;
}

.h100p {
    height: 100%;
}

.op80 {
    opacity: 80%;
}

.op60 {
    opacity: 60%;
}

.op40 {
    opacity: 40%;
}
/* --- education section classes end --- */


/* --- work section classes start --- */
#work {
    background-image: url("../media/images/backgrounds/work.jpg");
    
}

.work-div { 
    font-size: 1.2rem;
    height: 70%;
    overflow: auto;
    background-color: rgb(255, 255, 255, .8);
    border-radius: 3rem;
    padding: 1.5rem;
}

.work-div ul {
    list-style-type: none;
}

.work-div hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.work-organization {
    display: block;
    font-weight: bold;
    font-size: 1.7rem;
}

.work-yr {
    font-size: 1.5rem;
    font-weight: normal;
}

.work-position {
    display: block;
    font-style: italic;
    font-size: 1.5rem;
}
/* --- work section classes end --- */


/* --- projects section classes start --- */
/* --- projects section classes end --- */


/* --- info section classes start --- */
#info{
    background-image: url("../media/images/backgrounds/info.jpg");
}

.info-circle-div{
    padding-top: 5rem;
}

.info-circle {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 2rem;
    padding: 1rem;
    background-color: lightgray;
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 767px){ 
    .info-circle-div {
        display: flex;
        justify-content: center;
    }
}

.service-check {
    display: block; 
    font-size: 7rem; 
    margin: -3rem;
}

.info-circle-span {
    font-size: 4.2rem; 
    margin-top: -1rem; 
    display: block;
}
/* --- info section classes end --- */


/* --- footer classes start --- */
footer .container{
    position: relative;
}

#top-link {
    position: absolute;
    right: 3rem;
    color: white;
}

a.footer-icon-link {
    color: white;
    margin: .5rem;
    font-size: 1.3rem;
    text-decoration: none;
}

#copyright-band {
    background-color: rgba(0, 0, 0, 0.2);
}

a.footer-bootstrap-link {
    color: white;
    text-decoration: none;
}
/* --- footer classes end --- */

.project-card-container {
    height: 70%;
}

.project-card-container .card {
    height: 90%;
}

.project-card-container .card-img-top {
    height: 40%;
}

.project-card-container .card .card-body {
    height: 60%;
}

.project-card-container .card div.content {
    height: 80%;
    margin-bottom: 1rem;
    overflow: hidden;
}

.project-card-container .carousel-control-prev {
    height: fit-content;
    top:50%;
}

.project-card-container .carousel-control-next {
    height: fit-content;
    top:50%;
}