body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

#ctxMenu {
    display: none;
    font-size: .45rem;
    background-color: #666;
    position: fixed;
    color: #ddd;
    z-index: 100000;
    border: 1px solid #222; 
}

#ctxMenu > div {
    padding: 2px;
    border-bottom: 1px solid #ddd;
}

#ctxMenu > div:last-child {
    border-bottom: none;
}

#ctxMenu > div:hover {
    background-color: blue;
    cursor: pointer;
}

#canvas{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#canvas.moving .object:hover {
    outline: none;
    cursor: auto;
}

#controls {
    font-size: .6rem;
    background-color: #aaa;
    border: 1px solid #666;
    border-radius: 0px 5px 5px 0px;
    display: inline;
    padding: 5px;
    width: 100px;
    height: 100vh;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}

#controls button{
    font-size: 0.6rem;
    cursor: pointer;
}

.label {
    display: block;
    margin-top: 10px;
    margin-bottom: 3px;
}

#shape-palette{
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#preview{
    margin: 10px auto 0 auto;
    border: 1px solid black;
    width:40px;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.palette{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
}

.color {
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    border: 1px solid black;
}

.color:hover {
    outline: 1px solid blue;
    cursor: pointer;
}

#tools{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.object{  
    position: fixed;
    opacity: 1;
}

.object.selected {
    outline: 1px solid blue;
    z-index: 1000;
}

.object.moving {
    opacity: .5;
    z-index: 2000;
    outline: none;
}

.object.moving:hover {
    outline: none;
    cursor: auto;
}

.object:hover {
    outline: 1px solid blue;
    cursor: pointer;
    z-index: 1000;
}

.square {
    width: 10px;
    height: 10px; 
}

.rectangle {
    width: 20px;
    height: 10px;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}