:root{
    --dark-theme-text: #EBEBEB;
    --dark-theme-accent: #00001a;
    --dark-theme-accent-op-60: rgba(0, 0, 26, .6);
    --dark-theme-accent-op-90: rgba(0, 0, 26, .9);
    --dark-theme-foreground: rgb(33, 37, 41);
    --dark-theme-foreground-op-40: rgb(33, 37, 41, .4);
    --dark-theme-foreground-op-90: rgb(33, 37, 41, .9);
    --dark-theme-background: #1a1e21;
}

#loading-screen {
    position: fixed;
    top:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #343a40;
    z-index: 2000;
}

#hero {
    background-color: beige;
    padding: 6rem 1rem;
}

.lang-item:hover {
    cursor: pointer;
}

.lang-flag {
    padding-right: 0.5rem;
    height: 1.5rem;
    float: left;
    pointer-events: none;
}

#dark-theme-btn {
    margin-right: .5rem;
    border-radius: 50%;
}

/* --- section classes start --- */
.info-section {
    padding-top: 5rem;
    padding-bottom: 3rem;
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info-section div.container{
    position: relative;
    height: 100%;
}

.info-section-gray {
    background-color: lightgray;
}

a.section-control {
    position: absolute;
    bottom: 0rem;
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: background-color 150ms linear;
    -ms-transition: background-color 150ms linear;
    transition: background-color 150ms linear;
}

a.section-control-light {
    color: lightgray;
}

a.section-control-dark {
    color: #343a40;
}

a.section-control:hover {
    background-color: rgba(0, 0, 0, .2);
}

a.section-control:last-of-type {
    right: 7rem;
}

a.section-control:first-of-type {
    right: 0rem;
}

a.next-section-arrow {
    font-size: 7rem;
}

a.frame-section {
    font-size: 4rem;
}

.scrollable-div {
    font-size: 1.2rem;
    height: 70%;
    overflow: hidden;
    border-radius: 3rem;
    /* padding: 1.5rem; */
    padding: 0 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollable-div-content {
    padding: 0 1rem;
    overflow: auto;
    height : 90%;
    width: 100%;
}
/* --- section classes end --- */


/* --- about section classes start --- */
#about {
    background-image: url("../media/images/backgrounds/light/about.jpg");
}

.about-tabs {
    margin-left: 3rem;
    margin-bottom: 1px;
    border: none;
}

.about-tabs .nav-link{
    background-color: rgb(245, 245, 220, .6);
    border: none;
    color: #495057;
}

.about-tabs .nav-link:hover{
    color: black;
}

.about-tabs .nav-link.active {
    background-color: rgb(245, 245, 220, .9);
}

.about-scrollable-div { 
    background-color: rgb(245, 245, 220, .9);
}

.about-scrollable-div a {
    color: black;
}

#about-summary {
    text-align: justify;
    hyphens: auto;
}

#about-skills h2 {
    display: block;
    padding-top: 1rem;
    font-size: 1.5rem;
}

#about-skills h2:first-child {
    padding-top: 0;
}
/* --- about section classes end --- */


/* --- education section classes start --- */

.edu-container{
    height: 70%;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    overflow-y: auto;
}

.edu-element {
    width: 48%;
    height: 48%;
    background-color: white;
    border-radius: 3rem;
    padding: 1.5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-col {
    border-right: 1px solid black;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img{
    width: 100%;
}

.info-col {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 991px), (max-height: 839px) { 
    .edu-element{
        width: 100%;
    }
}
/* --- education section classes end --- */


/* --- work section classes start --- */
#work {
    background-image: url("../media/images/backgrounds/light/work.jpg");
    
}

.work-scrollable-div { 
    background-color: rgb(255, 255, 255, .9);
}

.work-scrollable-div ul {
    list-style-type: none;
}

.work-scrollable-div hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.work-organization {
    display: block;
    font-weight: bold;
    font-size: 1.7rem;
}

.work-yr {
    font-size: 1.5rem;
    font-weight: normal;
}

.work-position {
    display: block;
    font-style: italic;
    font-size: 1.5rem;
}
/* --- work section classes end --- */


/* --- projects section classes start --- */

.h100p {
    height: 100%;
}

.project-card-container {
    height: 70%;
}

.project-card-container .carousel {
    width: 100%;
}

.project-card-container .card {
    height: 90%;
}

.project-card-container .card-img-top {
    height: 40%;
    object-fit: cover;
}

.project-card-container .card-body {
    height: 60%;
}

.project-card-container .card div.content {
    height: 80%;
    margin-bottom: 1rem;
    overflow: hidden;
}

.project-card-container .card .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.project-card-container .card .btn {
   position: absolute;
   bottom: 1rem;
   left: 1rem;
}

.project-card-container .carousel-control-prev {
    height: fit-content;
    top:50%;
}

.project-card-container .carousel-control-next {
    height: fit-content;
    top:50%;
}

@media only screen and (max-height: 900px) {
    .project-card-container .card {
        height: 60%;
    }

    .project-card-container .card div.content {
        height: 70%;
    }
}

#project-modal img {
    height: 20rem;
    border-radius: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.project-card-container .card-text {
    text-align: justify;
}

/* --- projects section classes end --- */

/* --- apps section classes start --- */

#apps {
    background-image: url("../media/images/backgrounds/light/apps.jpg");
}

.app-scrollable-div { 
    background-color: rgb(255, 255, 255, .2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.app-scrollable-div-content {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 2rem;
    padding-top: 1rem;
}

.app-tile{
    width: 12%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    
}

.app-icon{
    height: 5rem;
    width: 5rem;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.app-icon:after {
    content:'\A';
    position:absolute;
    width:5rem; 
    height:5rem;
    border-radius: 1rem;
    background: linear-gradient(330deg, rgba(62,62,62,0.5) 0%, rgba(255,255,255,0.5) 60%);
    opacity:0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.app-icon:hover:after {
    opacity:1;
}

.app-icon:hover {
    cursor: pointer;
}

.app-title{
    text-align: center;
    font-size: 1rem;
}

#shape-playground-icon {
    background-image: url("../media/images/apps/shape-playground.png");
}

#shape-playground-icon:hover {
    background-image: url("../media/images/apps/shape-playground.png");
}

#world-countries-quiz{
    background-image: url("../media/images/apps/world-countries-quiz.png");
}

/* --- apps section classes end --- */


/* --- footer classes start --- */
footer .container{
    position: relative;
}

#top-link {
    position: absolute;
    right: 3rem;
    color: white;
}

a.footer-icon-link {
    color: white;
    margin: .5rem;
    font-size: 1.3rem;
    text-decoration: none;
}

#copyright-band {
    background-color: rgba(0, 0, 0, 0.2);
}

.freepik {
    color: white;
}

.footer-bootstrap-link {
    color: white;
    text-decoration: none;
}
/* --- footer classes end --- */

.mobile-version-placeholder {
    color: darkred;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 25%;
    text-align: center;
}

#project-technologies {
    font-style: italic;
}

/*new edu test*/

 /*dark-theme-classes-start*/

.dark-theme {
    color: var(--dark-theme-text);
}

.dark-theme #about {
    background-image: url("../media/images/backgrounds/dark/about.jpg");
}

.dark-theme #work {
    background-image: url("../media/images/backgrounds/dark/work.jpg"); 
}

.dark-theme #apps {
    background-image: url("../media/images/backgrounds/dark/apps.jpg"); 
}

.dark-theme #hero {
    background-color: var(--dark-theme-accent);
}

.dark-theme .about-tabs .nav-link{
    background-color: var(--dark-theme-accent-op-60);
    border: none;
    color: #ccc;
}

.dark-theme .about-tabs .nav-link:hover{
    color: white;
}

.dark-theme .about-tabs .nav-link.active, .dark-theme .about-scrollable-div {
    background-color: var(--dark-theme-accent-op-90);
}

.dark-theme .about-scrollable-div a {
    color: var(--dark-theme-text);
}

.dark-theme .info-section-gray {
    background-color: var(--dark-theme-background);
}

.dark-theme a.section-control-dark {
    color: lightgray;
}

.dark-theme .edu-element {
    background-color: var(--dark-theme-foreground);
}

.dark-theme .logo-col {
    border-right: 1px solid var(--dark-theme-text);
}

.dark-theme .app-scrollable-div { 
    background-color: var(--dark-theme-foreground-op-40);
}

.dark-theme .work-scrollable-div { 
    background-color: var(--dark-theme-foreground-op-90);
}

.dark-theme .card {
    background-color: var(--dark-theme-foreground);
}

.dark-theme .card .btn {
    background-color: var(--dark-theme-background);
}

.dark-theme .modal-content {
    background-color: var(--dark-theme-foreground);
}

.dark-theme .modal-header {
    border-bottom: 1px solid #555;
}

.dark-theme .modal-header .btn-close {
    filter:invert(1) grayscale(100%) brightness(200%);
}

.dark-theme .modal-footer {
    border-top: 1px solid #555;
}

.dark-theme .carousel-control-prev-icon {
    filter: invert(0) grayscale(100);
}

.dark-theme .carousel-control-next-icon {
    filter: invert(0) grayscale(100);
}

 /*dark-theme-classes-end*/