.page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background-color: var(--vs-orange);
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

.watermark {
    position: absolute;
    opacity: 30%;
    font-size: 5rem;
    z-index: 0;
}

.project-container {
    width: 100%;
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.project-item {
    width: 33%;
    min-width: 33%;
    box-sizing: border-box;
    padding: .5rem;
    height: 32rem;
    transition: transform .15s ease-in;
}

.project-item:hover {
    transform: scale(1.06);
}

.project {
    background-color: rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.project-image-container {
    height: 15rem;
}

.project-image {
    opacity: .9;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.project-body {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 1rem;
    height: 15rem;
}

.project-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.project-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding-top: 1rem;
}

.project-button {
    color: white;
    border: 0;
    background-color: var(--vs-orange);
    font-family: "Oxanium", sans-serif;
    font-size: 1rem;
    padding: .5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter .15s ease-in;
}

.project-button:hover {
    filter: brightness(70%);
}

@media (max-width: 768px) {
    .project-item {
        width: 50%;
        min-width: 50%;
    }
}

@media (max-width: 480px) {
    .project-item {
        width: 100%;
        min-width: 100%;
    }
}